{% extends 'reuse/homepage.html' %}
{% load staticfiles %}

{% block title_block %}
	Add a Product
{% endblock %}

{% block titlebar_block %}
    Add a Product
{% endblock %}

{% block body_block %}
    {% if added %}
        <h1>{{ product.name }} added successfully!</h1>
        <p>See <a href="{% url 'reuse:product' category.slug subcategory.slug product.slug %}">your product</a>, or go back to <a href="{% url 'reuse:profile' the_name%}">your profile </a>or the <a href="{% url 'reuse:homepage' %}">Homepage</a></p>
    {% else %}
        <h1>Add a Product to {{ subcategory.name }}</h1>
            <div>
                <form id="product_form" method="post" enctype="multipart/form-data" action="{% url 'reuse:add_product' category.slug subcategory.slug %}">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text }}
                        {{ field }}
                        <br/>
                    {% endfor %}
                    <input type="submit" name="submit" value="Create Product" />
                </form>
            </div>
    {% endif %}
{% endblock %}
