<!DOCTYPE html>
{% load staticfiles %}
{% load reuse_template_tags %}

<html>
     <head lang="en">
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
        <!--link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet"-->
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
        <!--link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"-->

       <link rel="stylesheet" text="text/css" href="{% static 'css/main.css' %}"/>

        <title>
            Re -
            {% block title_block %}
            {% endblock %}
        </title>
         
        <style type="text/css">
            .search-bar{
                max-width: 500px;
                width: 100%;
                align: center;
            }
            .centre{
                text-align: center;
            }
         </style>
    </head>
    <body>

         <div class="titlebar">
            <h1 style="text-align:center; padding:3px;">Re - <!--logo--></h1>
            <hr style="width:200px;"/>
            <h3 style="text-align:center; padding:3px;">
            {% block titlebar_block %}
            {% endblock %}
            </h3>
        </div>
        
        <div class="search-bar">
            <form method="get">
                <input type="text" class="form-control" name ="q" id="id_q" placeholder="Search...">
            </form>    
        </div>


        <!-- Navigation bar -->
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a href="#" class="navbar-brand">Re-</a>
            <!-- Hamburger button -->
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
                <span class="navbar-toggler-icon"> </span>
            </button>
            <!-- Navbar content -->
            <div class="collapse navbar-collapse" id="navbarMenu" >  
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{% url 'reuse:homepage' %}" class="nav-link">Home</a>
                    </li>

                    <!-- megamenu -->
                    
                    <li class="nav-item dropdown d-md-block menu-area">
                        <a class="nav-link  dropdown-toggle" id="mega-menu" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Catalog</a>
                        <div class="dropdown-menu mega-area">
                               <div class="container mega-container">
                                     <div class="row">
                                        {% get_category_list %}

                                        <div class="col-md-3 col-sm-4 d-none d-md-block">
                                            <a class="dropdown-item" href="/reuse/clothes/dresses/"> <img src="{% static 'images/dress.jpg' %}" alt=""> </a>
                                            <a class="dropdown-item" href="/reuse/clothes/trousers/"> <img src="{% static 'images/trousers.jpg' %}" alt=""> </a>
                                        </div>
                                     </div>
                               </div>
                        </div>
                    </li>
                    
                    {% if user.is_authenticated %}
                        {% get_user_name user as the_name %}
                        <li class="nav-item dropdown d-sm-none  d-md-block ">  
                        <!-- --> 
                            <a class="nav-link  dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" >My Profile</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'reuse:profile' user_name_slug=the_name %}">View Profile</a>
                                <a class="dropdown-item" href="{% url 'reuse:wishlist' user_name_slug=the_name %}">Wishlist</a>
                                <a class="dropdown-item" href="{% url 'reuse:change_password' user_name_slug=the_name %}">Change Password</a>
                                <a class="dropdown-item" href="{% url 'reuse:edit_profile' user_name_slug=the_name %}">Edit profile</a>
                                <a class="dropdown-item" href="{% url 'reuse:become_a_seller' user_name_slug=the_name %}">Become a seller</a>
                            </div>
                        </li>
                         <li class="nav-item  d-none d-sm-block d-md-none">
                             <a class="nav-link"  href="{% url 'reuse:profile' user_name_slug=the_name %}">My Profile</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'reuse:logout' %}" class="nav-link  "> Logout </a>
                        </li>
                    {% else %}
                        <li class="nav-item ">
                            <a href="{% url 'reuse:register' %}" class="nav-link ">Register</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'reuse:login' %}" class="nav-link  ">Log in</a>
                         </li>
                {% endif %}   
                </ul>
            </div>
        </nav>
        
        <div>
            <div>
                {% block welcome_block %}
                {% endblock %}
            </div>

            <div >
                {% block body_block %}
                {% endblock %}
            </div>
        </div>

        <footer>
            <div class="footer-top">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 segment-one md-mb-30 sm-mb-30">
                                <h3>Support</h3>
                                <a href="{% url 'reuse:faq' %}">F.A.Q.</a><br />
                                 <a href="{% url 'reuse:contact_us' %}">Contact us</a>
                                
                        </div>
                        <div class="col-md-4 col-sm-12 segment-two md-mb-30 sm-mb-30">
                            <h3>Company</h3>
                            <a href="{% url 'reuse:about' %}">About us</a>
                        </div>
                        <div class="col-md-4 col-sm-12 segment-three md-mb-30 sm-mb-30">
                            <h3>Follow us</h3>
                            <p> Please follow us on our Social Media Profile so that you always know what`s new in our online shop</p>
                            <a href="#"><i class="fa fa-facebook"> </i></a>
                            <a href="#"><i class="fa fa-twitter"> </i></a>
                            <a href="#"><i class="fa fa-instagram"> </i></a>
                        </div>
                    </div>
                </div>
                <p class="footer-bottom-text"> All images are from the royalty free website <a href="https://unsplash.com/"> Unsplash</a> 
            </div>
        </footer>
       




    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript">
        document.getElementsByID("id_q").value = "{{query}}"
    </script>
    </body>
</html>

