{% extends 'reuse/base.html' %}
{% load staticfiles %}

{% block title_block %} 
    Change Password
{% endblock %}

{% block titlebar_block %}
    My Profile
{% endblock %}

{% block body_block %} 
<div class="container">
	<div class="change_password_form">
		<h1>Change Password</h1> 
		<form id="change_password" method="post" action="{% url 'reuse:change_password' %}">
	  		{% csrf_token %}

	  		{{ form.as_p }}

	  	<button type="submit" class="btn btn-primary">Save changes</button>
		</form> 
	</div>
	
</div>
{% endblock %}
