{% extends 'reuse/base.html' %}
{% load staticfiles %}

{% block title_block %} 
    Change Password
{% endblock %}

{% block body_block %} 
<div class="container">
	<div class="change_password_form">
		<h1>Change Password</h1>
        {% if changed %}
            <strong>Your profile has beed updated successfully!</strong>
            <p>Go to the <a href="{% url 'reuse:profile' the_name %}">your profile page </a>or back to the <a href="{% url 'reuse:homepage' %}">Homepage</a></p><br />
        {% else %}
            <form id="change_password" method="post" action="{% url 'reuse:change_password' the_name %}">
                {% csrf_token %}

                {{ form.as_p}}

                <input type="submit" class="btn btn-primary" value="Save Changes"/>
            </form>
        {% endif %}
	</div>
	
</div>
{% endblock %}
