{% extends 'reuse/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Current Products
{% endblock %}

{% block titlebar_block %}
    My Profile
{% endblock %}

{% block body_block %}

    {% if products %}
    <ul>
        {% for product in products %}
        <li><h3><a href="{% url 'reuse:product' product.category.slug product.subcategory.slug product.slug %}">{{ product.name }}</a></h3><br/>
            <img src="{{ product.image1.url }}" alt="{{ product.name }}'s image" style="width:200px;height:200px;"/>
            <p>{{ product.price }}</p>
            <p>{{ product.description }}</p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <strong>You are not selling any product yet</strong>
    {% endif %}

    
  
{% endblock %}
