<!DOCTYPE html>
{% load staticfiles %}
{% load reuse_template_tags %}

<html>
     <head lang="en">
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/text.css' %}"/>
        <title>
            Re -
            {% block title_block %}
                Homepage
            {% endblock %}
        </title>
    </head>
    <body>
        <div class="titlebar">
            <h1 style="text-align:center; padding:3px;">Re - <!--logo--></h1>
            <hr style="width:200px;"/>
            <h3 style="text-align:center; padding:3px;">
            {% block titlebar_block %}
                Welcome
            {% endblock %}
            </h3>
        </div>
        
        <nav class="navbar">
            <ul>
                <li style="float:left;"><a href="{% url 'reuse:about' %}">About</a></li>
                <li style="float:left;"><a href="{% url 'reuse:homepage' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'reuse:profile' %}"> My Profile</a></li>
                    <li><a href="{% url 'reuse:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'reuse:register' %}">Register</a></li>
                    <li><a href="{% url 'reuse:login' %}">Log in</a></li>
                {% endif %}
            </ul>
        </nav>
        
        <div id="left">
            {% block sidebar_block %}
                {% get_category_list %}
            {% endblock %}
        </div>
        
        <div id="right">
            <div class="welcome">
                {% block welcome_block %}
                    <h1>Welcome to Re !</h1>
                    {% if user.is_authenticated %}
                        <h2>Hello, {{ user.username }}</h2>
                    {% endif %}
                {% endblock %}
            </div>
            <div class="pagecontent">
                {% block body_block %}
                {% endblock %}
            </div>
        </div>
        <div class="bottompage">
            <h3>Get Help</h3>
            <a href="{% url 'reuse:faq' %}">F.A.Q.</a></br>
            <a href="{% url 'reuse:contact_us' %}">Contact us</a>
        </div>
    </body>
</html>
