{% extends 'reuse/base.html' %}
{% load staticfiles %}

{% block title_block %} 
    Login
{% endblock %}

{% block titlebar_block %}
    Login
{% endblock %}

{% block body_block %} 
 
<div class="container">
	<div class="login-page">
		<h1>Login to Re</h1> 
		
		<form  method="post" action="{% url 'reuse:login' %}">
			{% csrf_token %} 
			Username: <input type="text" class= "form-control" name="username" value="" /> <br /> 
			Password: <input type="password" class= "form-control" name="password" value="" /> <br /> 
			<input type="submit" value="Submit" class="btn btn-primary"/> <br />
		</form>

	
		    <a href="{% url 'password_reset'  %}">Reset Password</a>
		    <hr />
		    <button type="button" class="btn btn-primary"> <i class="fa fa-google"> </i> Google Login
		 	<a href="{% url 'social:begin' 'google-oauth2' %}"> ...  </a>  </button>
		
	
	</div>
</div>
{% endblock %}


