{% extends 'reuse/homepage.html' %}
{% load staticfiles %}

{% block title_block %}
    Update product
{% endblock %}

{% block titlebar_block %}
    Update product information
{% endblock %}

{% block body_block %}
    {% if modif %}
        <h1>{{ product.name }} updated successfully!</h1>
        <p>See <a href="{% url 'reuse:product' product.category.slug product.subcategory.slug product.slug %}">your product</a>, or go back to <a href="{% url 'reuse:profile' the_name%}">your profile </a>or the <a href="{% url 'reuse:homepage' %}">Homepage</a></p>
    {% else %}
    <div class="jumbotron">
        <h1>Update product information: {{ product.name }}</h1>
    </div>
            <div class ="container edit-profile">
                <form id="product_form" method="post" enctype="multipart/form-data" action="{% url 'reuse:manage_product' product.category.slug product.subcategory.slug product.slug %}">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text }}
                        {{ field }}
                        <br/>
                    {% endfor %}
                    <input type="submit" name="submit" value="Update Product" class="btn btn-primary" />
                </form>
            </div>
    {% endif %}
{% endblock %}

