{% extends 'reuse/base.html' %}
{% load staticfiles %}
{% load reuse_template_tags %}

{% block title_block %}
    Past Orders
{% endblock %}

{% block titlebar_block %}
    My Profile
{% endblock %}

{% block body_block %}

    {% if products %}
    <ul>
        {% for product in products %}
            <li><img src="{{ product.image1.url }}" alt="{{ product.name }}'s image" style="width:200px;height:200px;"/>
                <h2>{{ product.name }}</h2>
                    <h4>Sold by <a href="{% url 'reuse:profile' product.seller.slug %}">{{ product.seller }}</a>, £{{ product.price }}</h4>
                <p>{{ product.description }}</p>
                {% get_review product as rev %}
                {% if rev %}
                    <h4>Your review:</h4>
                    <h5>{{ rev.title }}, rating: {{ rev.rating }}</h5>
                    <p>On date {{ rev.on_date }}</p>
                    <p>{{ rev.text }}</p>
                    <a href="{% url 'reuse:update_review' product_name_slug=product.slug %}">Update</a>
                    <a href="{% url 'reuse:delete_review' product_name_slug=product.slug %}">Delete</a>
                {% else %}
                    <a href="{% url 'reuse:leave_a_review' product_name_slug=product.slug %}">Leave a review!</a>
                {% endif %}
            </li>
            <hr />
        {% endfor %}
    </ul>
    {% else %}
        <strong>You haven't bought anything yet</strong>
    {% endif %}
{% endblock %}
