{% extends 'reuse/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Past Orders
{% endblock %}

{% block titlebar_block %}
    My Profile
{% endblock %}

{% block body_block %}

    {% if products %}
    <ul>
        {% for product in products %}
            <li><img src="{{ product.image1.url }}" alt="{{ product.name }}'s image" style="width:200px;height:200px;"/>
                <h2>{{ product.name }}<h2>
                    <h4>Sold by {{ product.seller }}, £{{ product.price }}</h4>
                <p>{{ product.description }}<p>
                <a href="{% url 'reuse:leave_a_review' product_name_slug=product.slug %}">Leave a review!</a>
            </li>
            <hr />
        {% endfor %}
    </ul>
    {% else %}
        <strong>You haven't bought anything yet</strong>
    {% endif %}
  
{% endblock %}
