{% extends 'reuse/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ product.name }}
{% endblock %}

{% block titlebar_block %}
    Explore
{% endblock %}

{% block body_block %}
    <img src="{{ product.image1.url }}" alt="{{ product.name }}'s picture" style="width:200px;height:200px;float:left;margin:3px;"/>
    <h4 style="float:right;">£{{ product.price }}</h4>
    <h2>{{ product.name }}</h2>
	<p>{{ product.description }}</p>
	

    {% if user.is_authenticated %}
        {% if seller != profile %}
            <form id="add_to_wishlist" action="{% url 'reuse:add_to_wishlist' category.slug subcategory.slug product.slug %}" method="post">
                {% csrf_token %}
                <input name="submit" type="submit" value="Like" />
            </form>
                
            <hr style="margin-top:100px"/>
            <p>Sold by: <a href="{% url 'reuse:profile' seller.slug %}">{{ seller }}</a></p>
            <img src="{{ seller.picture.url }}" alt="{{ seller }}'s profile pic" style="width:150px;height:150px;float:left;margin:3px;"/>
            <p>Payments accepted: </p>
            <ul style="float:left;">
                {% if seller.paypal %}
                    <li>Paypal</li>
                {% endif %}
                {% if seller.bank_transfer %}
                    <li>Bank Transfer</li>
                {% endif %}
                {% if seller.cash %}
                    <li>Cash</li>
                {% endif %}
            </ul>
            <div style="clear:both;">
            <h5>Location</h5>
            <p><i class="fa fa-map-marker"></i>{{ seller.address }}<br/> {{ seller.city }} <br/> {{ seller.postcode }} </p>
            </div>
        
        {% else %}
            <a href="{% url 'reuse:manage_product' category.slug subcategory.slug product.slug %}">Manage</a>
            <a href="{% url 'reuse:sell_product' category.slug subcategory.slug product.slug %}">Sell</a>
        {% endif %}     
    {% else %}
        <p><a href="{% url 'reuse:login' %}">Log in</a> or <a href="{% url 'reuse:register' %}">Register</a> to see the product's info</p>
   {% endif %}
{% endblock %}
