{% extends 'reuse/base.html' %}
{% load staticfiles %}
{% load reuse_template_tags %}

{% block title_block %}
    Profile
{% endblock %}

{% block titlebar_block %}
    {% if owned %}
        My Profile
    {% else %}
        {{ otheruser.username }}'s Profile
    {% endif %}
{% endblock %}

{% block body_block %}
<div class="container">
    <div class="row profile-data">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <img src="{{ picture.url }}" width="300" height="300" alt="profile image" />
                {% if owned %}
                    <p><a href="{% url 'reuse:change_password' user_name_slug=the_name %}"> Change Password </a></p>
                    <p><a href="{% url 'reuse:edit_profile' user_name_slug=the_name  %}"> Edit Profile </a></p>
                    <p><a href="{% url 'reuse:wishlist' user_name_slug=the_name  %}">Wishlist</a></p>
                    {% if isSeller %}
                        <p><a href="{% url 'reuse:seller_manual' %}">Read the Seller Manual</a></p>
                        <p><a href="{% url 'reuse:current_products' user_name_slug=the_name %}">Your Current Products</a></p>
                        <p><a href="{% url 'reuse:sold_products' user_name_slug=the_name %}">Your Sold Products</a></p>
                    {% else %}
                        <p><a href="{% url 'reuse:become_a_seller' user_name_slug=the_name  %}">Become A Seller</a></p>
                    {% endif %}
                    <p><a href="{% url 'reuse:past_orders' user_name_slug=the_name %}">Your Past Orders</a></p>
                {% endif %}
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            
            {% if owned %}
                <h4> {{ user.first_name }} {{ user.last_name }}</h4>
                <p><i class="fa fa-user"></i>{{ user.username }}</p>
            {% else %}
                <h4>{{ otheruser.first_name }}  {{ otheruser.last_name }}</h4>
                <p><i class="fa fa-user"></i>{{ otheruser.username }}</p>
            {% endif %}
        
            {% if user.is_authenticated %}
                {% if owned %}
                    <p><i class="fa fa-envelope"></i>{{ user.email }}</p>
                {% else %}
                    <p><i class="fa fa-envelope"></i>{{ otheruser.email }}</p>
                {% endif %}
                <p><i class="fa fa-map-marker"></i>{{ address }}<br/> {{ city }} <br/> {{ postcode }} </p>
            {% else %}
                <p><a href="{% url 'reuse:login' %}">Log in</a> or <a href="{% url 'reuse:register' %}">Register</a> to see the user's info </p>
            {% endif %}
            <hr/>
            <p><i class="fa fa-info"></i>{{ description }}</p>
        </div>
       
       {% if user.is_authenticated %}
            <div>
               {% if isSeller %}
                    {% if products %}
                        <h3>Currently selling:</h3>
                        <ul>
                            {% for product in products %}
                                <li><a href="{% url 'reuse:product' category_name_slug=product.category.slug subcategory_name_slug=product.subcategory.slug product_name_slug=product.slug %}">{{ product.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {% if owned %}
                            <p>You are not currently selling anything.</p>
                        {% else %}
                            <p>This user is not currently selling anything.</p>
                        {% endif %}
                    {% endif %}
                    <div>
                    {% if not owned %}
                        <p>If you've bought something from {{ otheruser }}, you can leave a review in <a href="{% url 'reuse:past_orders' the_name %}">your past orders</a></p><hr style="width:20%;"/>
                    {% endif %}
                    {% if reviews %}
                        <p>Rating: {% get_rating reviews %}</p>
                        <ul>
                        {% for review in reviews %}
                        <li><h4>{{ review.title }}</h4><h5>{{ review.rating }}</h5>
                            <h5>By <a href="{% url 'reuse:profile' review.buyer.slug %}">{{ review.buyer }}</a>, {{ review.on_date }}</h5>
                            <p>{{ review.text }}</p></li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <p>No reviews yet! Be the first one</p>
                    {% endif %}
                    </div>
               {% endif %}
            </div>
        {% else %}
            <p><a href="{% url 'reuse:login' %}">Log in</a> or <a href="{% url 'reuse:register' %}">Register</a> to see the product's info</p>
        {% endif %}
       
        <div class="col-lg-3 col-md-6 d-none d-lg-block">
            <p></p>
        </div>

    </div>
</div>
{% endblock %}

