{% extends 'reuse/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile
{% endblock %}

{% block titlebar_block %}
    My Profile
{% endblock %}

{% block sidebar_block %}
    <ul>
        <li><a href="{% url 'reuse:change_password' %}">Change Password </a></li>
        <li><a href="{% url 'reuse:edit_profile' %}">Edit Profile </a></li>
        <li><a href="/reuse/profile/add_a_product/">Add Product</a></li>
        <li><a href="/reuse/profile/wishlist/">Wishlist</a></li>
        <li><a href="/reuse/profile/shoppingcart/">Shopping Cart</a></li>
    </ul>
{% endblock %}

{% block body_block %}







<div class="container">

<div class="row profile-data">     

        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 ">
            <img src="{{ MEDIA_URL }}{{ picture }}" width="300" height="300" alt="{{ user.username }}'s profile image" />
                <p ><a href="{% url 'reuse:change_password' %}"> Change Password </a></p>
                <p> <a  href="{% url 'reuse:edit_profile' %}"> Edit Profile </a></p>
                <p><a  href="/reuse/profile/add_a_product">Add Product</a></p>
                <p><a href="/reuse/profile/wishlist">Wishlist</a></p>
                <p ><a  href="/reuse/profile/shoppingcart">Shopping Cart</a></p>   

        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
         
           <h4> {{ user.first_name }} {{ user.last_name }}</h4>
           
            <p ><i class="fa fa-user"></i>    {{ user.username }}</p>
            <p ><i class="fa fa-envelope"></i> {{ user.email }}</p>
            
            <p > <i class="fa fa-map-marker"></i> {{ address }} <br /> 
                {{ city }} <br /> {{ postcode }} </p>
                <hr />
            <p > <i class="fa fa-info"></i> {{ description }} </p>
        </div>
       

        <div class="col-lg-3 col-md-6 d-none d-lg-block">
            <p></p>





</div>
</div>

{% endblock %}

