{% extends 'reuse/homepage.html' %}
{% load staticfiles %}

{% block title_block %}
	Register
{% endblock %}

{% block body_block %}
	<h1>Register for Re</h1>
	{% if registered %}
		<strong>Thank you for registering!</strong>
		<a href="{% url 'reuse:login' %}">Go to the Log in page.</a><br />
	{% else %}
		<strong>Register here!</strong><br />
		<form id="user_form" method="post" action="{% url 'reuse:register' %}" enctype="multipart/form-data">
	
			{% csrf_token %}
			{{ user_form.as_p }}
			{{ profile_form.as_p }}
			<input type="submit" name="submit" value="Register" />
		</form>
	{% endif %}
	{% endblock %}
