{% extends 'reuse/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Search
{% endblock %}

{% block titlebar_block %}
    Search
{% endblock %}

{% block body_block %}
{% if product_post %}
<div class="container">
    {% for product in product_post %}
    <div class="row">
        
        <div class="card m-auto">
            <a href="{% url 'reuse:product' product.category.slug product.subcategory.slug product.slug %}">
                <img class="card-img-top" src="{{ product.image1.url }}" alt="{{ product.name }}'s picture" />
            </a>
            {% if user.is_authenticated %}
                <div class="card-body">
                    <a href="{% url 'reuse:product' product.category.slug product.subcategory.slug product.slug %}">
                        <h2 class="card-title">{{ product.name }}</h2>
                    </a>
                    <p class="card-text">{{ product_post.descriptions|truncatechars:200 }}</p>
                    <p> Sold by:
                    {% if product.seller.user == request.user %}
                        <a href="{% url 'reuse:profile' the_name %}">You</a>
                    {% else %}
                        <a href="{% url 'reuse:profile' product.seller.slug %}">{{ product.seller }}</a>
                    {% endif %}
                    </p>
                </div>
                <div class="card-footer text-muted">
                    Added on {{ product.date }} by {{ product.seller }}
                </div>
            {% else %}
                <div class="card-body">
                    <p><a href="{% url 'reuse:login' %}">Log in</a> or <a href="{% url 'reuse:register' %}">Register</a> to see the product's info</p>
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
    
{% else %}
    
<div class="contaner">
    <div class="row">
        <div class="card m-auto">
            <div class="card-body">
                <h2 class="card-title">
                    No results
                </h2>
                <p class="card-text">
                    There were no results matching your search: "{{ query }}"
                </p>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
