{% extends 'reuse/homepage.html' %}
{% load staticfiles %}

{% block title_block %}
    Sell Product
{% endblock %}

{% block titlebar_block %}
    Sell Product
{% endblock %}

{% block body_block %}
    {% if sold %}
        <h1>{{ product.name }} sold successfully!</h1>
        <a href="{% url 'reuse:profile' the_name %}">My Profile</a><br/>
        <a href="{% url 'reuse:homepage' %}">Homepage</a>
    {% else %}
        <h1>Sell {{ product.name }}</h1>
            <div>
                <form id="product_form" method="post" action="{% url 'reuse:sell_product' product.category.slug product.subcategory.slug product.slug %}"/>
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text }}
                        {{ field }}
                        <br/>
                    {% endfor %}
                    <input type="submit" name="submit" value="Create Product" />
                </form>
            </div>
    {% endif %}
{% endblock %}
