{% extends 'reuse/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Sold Products
{% endblock %}

{% block titlebar_block %}
    My Profile
{% endblock %}

{% block body_block %}

    {% if products %}
    <ul>
        {% for product in products %}
            <li><img src="{{ product.image1.url }}" alt="{{ product.name }}'s image" style="width:200px;height:200px;"/>
                <h2>{{ product.name }}</h2>
                    <h4>Sold to <a href="{% url 'reuse:profile' product.buyer.slug %}">{{ product.buyer }}</a> for £{{ product.price }}</h4>
                    <p>{{ product.description }}</p>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <strong>You haven't sold anything yet</strong>
    {% endif %}
  
{% endblock %}
