{% extends 'reuse/profile.html' %}
{% load staticfiles %}

{% block title_block %}
    Wishlist
{% endblock %}

{% block body_block %}
 
    <h1>Wishlist</h1>

    {% if products %}
    <ul>
        {% for product in products %}
            <li><a href="{% url 'reuse:product' product.category.slug product.subcategory.slug product.slug %}">{{ product.name }}</a></li>
            <li><img src="{{ product.image1.url }}" style="width:200px;height:200px;"></li>
        {% endfor %}
    </ul>
    {% else %}
        <strong>Your wishlist is still empty.</strong>
        <p>What are you waiting for? It's second-hand shopping time!</p>
   {% endif %}

{% endblock %}
