{% extends 'reuse/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ title }}
{% endblock %}

{% block body_block %}
<div class="centre">
    <h1>Thank you!</h1>
    <h2>You're now part of the Re* team</h2>
    <p>To start adding products, navigate into a category. You should see an "add product" button<br/>If you ever need help see the Seller Manual under "My Profile". Otherwhise you can always have a look at the FAQs or contact us</p>
    <p><a href="{% url 'reuse:seller_manual' %}">Go to the seller manual</a> or <a href="{% url 'reuse:homepage' %}">return to the homepage</a></p>
</div>
{% endblock %}
