.titlebar {
    font-family: "Courier";
    color: #513E1B;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    height: 120px;
}

body {
  font-family: "Courier";
  color: #513E1B;
}

#left {
    top: 165px;
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #f1f1f1;
    left: 0;
    overflow: scroll;
}

#right {
    margin-top: 190px;
    margin-left: 210px;
    height: 100%;
    position: static;
}

/* Sidebar links */
#left ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  background-color: #f1f1f1;
}

/* Fix needed */
#left li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0px 0px;
    margin: 15px;
    text-decoration: none;
}

#left p.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
#left li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.bottompage {
    bottom: 0px;
    padding: 10px;
    background-color: #f1f1f1;
    position: fixed;
    left: 200px;
    width: 100%;
}

.bottompage h3 {
    margin: 0;
    padding: 5px;
}

.bottompage a {
    margin: 0;
    padding: 5px 6px;
}

.titlebar h1 {
    margin: 10px;
}

.titlebar h3 {
    margin: 9px;
}

.navbar {
    position: fixed;
    background-color: #f1f1f1;
    height: 30px;
    width: 100%;
    top: 120px;
    left: 0px;
    margin: 0;
    padding: 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f1f1f1;
}

.navbar li {
  float: right;
}

.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
  background-color: #333;
}
